<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multipurposeapp">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="MultiPurpose App"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetCampProject">
        <activity
            android:name=".Tic_Tac1"
            android:exported="false" />
        <activity android:name=".Feedback" />
        <activity android:name=".Message" />
        <activity
            android:name=".Call"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraVedio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wifi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vedio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Browser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bluetooth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Torch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calci"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Normal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Otp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginOffline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Offline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GmailLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NormalLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpLogin"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>